

<div class="row">
  <div class="col-4">
    <mat-form-field appearance="outline">
      <mat-label>Quantity</mat-label>
      <input
        matInput
        [ngModel]="value"
        #myInput="ngModel"
        (blur)="touch()"
        (ngModelChange)="updateValue($event)">
    </mat-form-field>
    <hr>
  </div>

  <div class="col-8">
    <h2>Control Value Accessor</h2>
    <section>
      <div>
        <p>
          <strong>Description: </strong>
          Implement this interface to create a custom form control directive
          that integrates with Angular forms.
        </p>
      </div>
    </section>
  </div>
</div>