<div [ngClass]="sidebarOpened ? 'open' : 'hidden'"
  (clickOutside)="closeSideBar()"
  class="sidebar-container"
  thdClickOutside>
  <div class="dock">
    <div class="dock-user-section">
      <div class="user-logo">
        <img class="user-icon"
          src="assets/images/sidebar/user-profile.svg"
          alt="user">
      </div>
    </div>

    <div class="dock-toggle-section">
      <div class="menu-wrap">
        <img (click)="toggleSidebar()"
          class="menu-icon"
          src="assets/images/sidebar/burger.svg"
          alt="user">
      </div>
    </div>
  </div>

  <div [ngClass]="sidebarOpened ? 'drawer-open' : 'drawer-hidden'"
    class="drawer">
    <div class="drawer-user-section">
      <h2 class="mt-2">Hello world!</h2>
    </div>

    <div class="drawer-toggle-section">&nbsp;</div>
    <div class="sidebar-content">
      <ul>
        <ng-container
          *ngTemplateOutlet="menuTemplate;
          context: { menus: listMenu }">
        </ng-container>
        <!-- 
        <li *ngFor="let menuItem of listMenu">
          <a [routerLink]="['/home']"
            class="side-nav-link">
            <i class="material-icons">{{menuItem.icon}}</i>
            <p>{{menuItem.label}}</p>
          </a>
        </li>

        <li>
          <a [routerLink]="['/angular-in-depth']"
            class="side-nav-link">
            <i class="material-icons">library_books</i>
            <p>Angular Tutorials</p>
          </a>

          <ul class="submenu">
            <li>
              <a class="side-nav-link"
                href="#">
                <i></i>
                <p>Submenu item 4</p>
              </a>
            </li>

            <li>
              <a class="side-nav-link"
                href="#">
                <i></i>
                <p>Submenu item 4</p>
              </a>
            </li>
          </ul>
        </li> -->
      </ul>
    </div>
  </div>
</div>

<div [ngClass]="sidebarOpened && mode === 'push' ? 'open-push' : ''"
  class="drawer-content">
  <router-outlet></router-outlet>
</div>


<ng-template #menuTemplate let-menus="menus">
  <li *ngFor="let menuItem of menus">
    <a [routerLink]="menuItem.routerLink"
      class="side-nav-link">
      <i class="material-icons">{{menuItem.icon}}</i>
      <p>{{menuItem.label}}</p>
    </a>

    <ul *ngIf="menuItem?.items?.length" class="submenu">
      <ng-container
        *ngTemplateOutlet="menuTemplate;
        context: { menus: menuItem.items }">
      </ng-container>
    </ul>
  </li>
</ng-template>
