<h2>Deactivate And Manually Trigger Change Detection</h2>

<div class="alert alert-primary" role="alert">
  Detaches this view from the change-detection tree. A detached view is not
  checked until it is reattached. Use in combination with detectChanges() to
  implement local change detection checks.
</div>


<mat-card class="info my-3">
  <mat-card-header>
    <ul>
      <li>Click on "Detach" in card to deactivate change detection</li>
      <li>Clicking on "Detect Changes" updates the view manually</li>
    </ul>
  </mat-card-header>
</mat-card>
<p class="mb-3">{{ hero | json }}</p>

<h2>ChangeDetectionStrategy.Default</h2>
<div class="d-flex flex-wrap mb-3">
  <thd-hero-card [hero]="hero"></thd-hero-card>
</div>

<h2>ChangeDetectionStrategy.OnPush</h2>
<div class="d-flex flex-wrap mb-3">
  <thd-hero-card-on-push [hero]="hero"></thd-hero-card-on-push>
</div>
