<mat-card class="card" *ngFor="let item of listCards">
  <mat-card-header>
    <mat-card-title> {{ item.title }}</mat-card-title>
    <mat-card-subtitle>
      {{item.description}}
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <img
      class="card-img"
      [src]="item.image"
      alt="abc">
  </mat-card-content>

  <div class="p-3 text-end">
    <button mat-raised-button color="primary" [routerLink]="item.destination">
      View Detail
    </button>
  </div>
</mat-card>
